* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "prompt";
}

/* nav */

nav {
    width: 100%;
    position: absolute;
    z-index: 12;
}

nav, #logo{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    color: black;
}

nav img {
    width: 45px;
    margin: 0 10px 0 30px;
    padding: 10px 0;
}

nav h3, nav a {
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

nav h3 {
    font-size: 22px;
    margin-right: 20px;
}

nav a {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 136, 255);
    font-size: 20px;
    padding: 0 15px;
}

#nav-buttons {
    margin: auto 40px auto auto;
}

#login-btn, #register-btn {
    padding: 7px 35px;
    border-radius: 8px;
    margin: 0 5px;
}

#login-btn {
    border: solid 2px rgb(0, 136, 255);
    color: rgb(0, 136, 255);
    background-color: white;
    font-size: 17px;
}

#register-btn {
    border: solid 2px rgb(0, 136, 255);
    background-color: rgb(0, 136, 255);
    color: white;
    font-size: 17px;
}

nav a:hover {
    color: rgb(0, 96, 180);
}

#logo:hover, #login-btn:hover, #register-btn:hover {
    cursor: pointer;
}

#login-btn:hover {
    background-color: rgb(226, 226, 226);
}

#register-btn:hover {
    background-color: rgb(79, 173, 255);
    border: 2px solid rgb(79, 173, 255);
}

/* header */

header {
    background-color: black;
}

header img {
    width: 100%;
    opacity: 0.5;
    animation: 1s fade-in;
}

#header-txt {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
    color: white;
    animation: 0.7s slide-in;
}

#header-txt h1 {
    font-size: 70px;
    font-weight: 600;
}

#header-txt p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 27px;
    padding-top: 20px;
    width: 900px;
}

/* main */  

main h3 {
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 30px;
    font-weight: 400;
}

#villa {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
}

main img {
    width: 300px;
    margin: 10px;
}

/* footer */

footer {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 90px;
}

#footer-nav {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

#footer-nav img {
    width: 40px;
    margin: 0 50px;
    margin-bottom: -10px;
}

#footer-nav a {
    text-decoration: none;
    margin: 0 60px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* contact page */

form input, form textarea{
    display: flex;
    padding: 5px 10px;
    background-color: rgb(198, 198, 198);
    border: none;
    margin: 4px;
    border-radius: 5px;
    margin-left: 37%;
}

form h1 {
    font-weight: 500;
    margin-top: 40px;
}

form h1, form p {
    text-align: center;
}

form p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

form input::placeholder, form textarea::placeholder {
    color: rgb(47, 47, 47);
    font-family: "prompt";
}

form #submit-button {
    margin-left: 61.25%;
    border: 2px solid rgb(0, 136, 255);
    background-color: white;
    color: rgb(0, 136, 255);
    padding: 10px 20px;
}

form #submit-button:hover {
    background-color: rgb(227, 227, 227);
    cursor: pointer;
}

/* keyframes */

@keyframes slide-in {
    from {
        margin-top: 25%;
        top: 70%;
        opacity: 20%;
    } to {
        margin-top: 0;
        top: 55%;
        opacity: 100%;
    }
}
@keyframes fade-in {
    from {
        opacity: 0.05;
    }
    to {
        opacity: 0.5;
    }
}